<h1>Hello, todo-angular</h1>

<p>Hallo CAS OOP</p>

<router-outlet></router-outlet>

<div class=" container-md">
  <div class="mt-3 row">
    <div class="col-md-4">
      <app-my-first headerTitle="Static 1"></app-my-first>
    </div>
    <div class="col-md-4">
      <app-my-first headerTitle="Static 2"></app-my-first>
    </div>
    <div class="col-md-4">
      <app-my-first headerTitle="Static 3"></app-my-first>
    </div>
  </div>
  <div class="mt-3 row">
    <div class="col-md-4">
      <app-my-first [headerTitle]="title1"></app-my-first>
    </div>
    <div class="col-md-4">
      <app-my-first [headerTitle]="title2"></app-my-first>
    </div>
    <div class="col-md-4">
      <app-my-first [headerTitle]="title3"></app-my-first>
    </div>
  </div>
</div>
